@keyframes fadeIn {
  from {
    background-color: rgba(16, 34, 55, 0);
    height: 60px;
  }
  to {
    background-color: rgba(16, 34, 55, 0.8);
    height: 518px;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
@keyframes fadeOut {
  from {
    background-color: rgba(16, 34, 55, 0.8);
    height: 518px;
  }
  to {
    background-color: rgba(16, 34, 55, 0);
    height: 60px;
  }
}
.fadeOut {
  animation-name: fadeOut;
}
.none-chart {
  display: none;
}
.schedule {
  margin-bottom: 30px;
  margin-top: 26px;
  width: 280px;
  height: 518px;
  border-radius: 35px;
  filter: drop-shadow(0px 8px 21.5px rgba(16, 33, 54, 0.59));
  background-color: rgba(16, 34, 55, 0.8);
  animation-name: fadeIn;
  animation-duration: 0.5s;
}
.none-schedule {
  height: 60px;
  background-color: transparent;
  animation-name: fadeOut;
  animation-duration: 0.5s;
}
.schedule__div {
  opacity: 1;
  display: flex;
  justify-content: center;
  width: 110px;
  margin: 0 auto;
  padding-top: 30px;
}

.show-charts {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #ff6b08;
  text-align: center;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.ellipse-img {
  margin-left: 10px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.5s linear;
}
.ellipse-img-open {
  transform: rotate(180deg);
  transition: transform 0.5s linear;
}

.chartDiv {
  padding-top: 20px;
  height: 500px;
  position: relative;
}

.chartDiv::before{
  position: absolute;
  content: "AVERAGE:";
  color: rgba(255, 255, 255, 0.54);
  font-size: 12px;
  line-height: 22px;
  left: 115px;
  top: 6px;
}
@media (min-width: 768px) {
  .none-chart {
    display: none;
  }
  .schedule {
    width: 608px;
    height: 534px;
  }
  .chartDiv::before{
    left: 30px;
    top: 26px;
  }
  @keyframes fadeIn {
    from {
      background-color: rgba(16, 34, 55, 0);
      height: 60px;
    }
    to {
      background-color: rgba(16, 34, 55, 0.8);
      height: 454px;
    }
  }
}
@media (min-width: 1280px) {
  .none-chart {
    display: none;
  }
  .schedule {
    width: 1060px;
    height: 520px;
  }
  .chartDiv::before{
    left: 100px;
  }
  @keyframes fadeIn {
    from {
      background-color: rgba(16, 34, 55, 0);
      height: 60px;
    }
    to {
      background-color: rgba(16, 34, 55, 0.8);
      height: 550px;
    }
  }
}