<li class="more-info-item more-info-item__time-00-00">
                <p class="more-info-item__set-time">01:00</p>
                <img class="more-info-item__set-img" src="https://openweathermap.org/img/w/04n.png" alt="">
                <p class="more-info-item__set-temperature">1</p><span class="degrees">&#176</span>
                <div class="more-info-item__weather-details">
                  <p class="more-info-item__pressure-value">772mm</p>
                  <p class="more-info-item__humidity-value">54%</p>
                  <p class="more-info-item__wind-value">3,7m/s</p>
                </div>
              </li>
              <li class="more-info-item more-info-item__time-04-00">
                <p class="more-info-item__set-time">01:00</p>
                <img class="more-info-item__set-img" src="https://openweathermap.org/img/w/04n.png" alt="">
                <p class="more-info-item__set-temperature">2</p>
                <div class="more-info-item__weather-details">
                  <p class="more-info-item__pressure-value">772</p>
                  <p class="more-info-item__humidity-value">5</p>
                  <p class="more-info-item__wind-value">3,7</p>
                </div>
              </li>
              <li class="more-info-item more-info-item__time-08-00">
                <p class="more-info-item__set-time">01:00</p>
                <img class="more-info-item__set-img" src="https://openweathermap.org/img/w/04n.png" alt="">
                <p class="more-info-item__set-temperature">3</p><span>&#176</span>
                <div class="more-info-item__weather-details">
                  <p class="more-info-item__pressure-value">772</p>
                  <p class="more-info-item__humidity-value">54</p>
                  <p class="more-info-item__wind-value">3,7</p>
                </div>
              </li>
              <li class="more-info-item more-info-item__time-12-00">
                <p class="more-info-item__set-time">01:00</p>
                <img class="more-info-item__set-img" src="https://openweathermap.org/img/w/04n.png" alt="">
                <p class="more-info-item__set-temperature">4</p><span>&#176</span>
                <div class="more-info-item__weather-details">
                  <p class="more-info-item__pressure-value">772</p>
                  <p class="more-info-item__humidity-value">54</p>
                  <p class="more-info-item__wind-value">3,7</p>
                </div>
              </li>
             <li class="more-info-item more-info-item__time-15-00">
                <p class="more-info-item__set-time">01:00</p>
                <img class="more-info-item__set-img" src="https://openweathermap.org/img/w/04n.png" alt="">
                <p class="more-info-item__set-temperature">5</p><span>&#176</span>
                <div class="more-info-item__weather-details">
                  <p class="more-info-item__pressure-value">772 <span>mm</span></p>
                  <p class="more-info-item__humidity-value">54<span>%</span></p>
                  <p class="more-info-item__wind-value">3,7 <span>m/s</span></p>
                </div>
              </li>
              <li class="more-info-item more-info-item__time-19-00">
                <p class="more-info-item__set-time">01:00</p>
                <img class="more-info-item__set-img" src="https://openweathermap.org/img/w/04n.png" alt="">
                <p class="more-info-item__set-temperature">6</p><span>&#176</span>
                <div class="more-info-item__weather-details">
                  <p class="more-info-item__pressure-value">772 <span>mm</span></p>
                  <p class="more-info-item__humidity-value">54<span>%</span></p>
                  <p class="more-info-item__wind-value">3,7 <span>m/s</span></p>
                </div>
              </li>
              <li class="more-info-item more-info-item__time-22-00">
                <p class="more-info-item__set-time">01:00</p>
                <img class="more-info-item__set-img" src="https://openweathermap.org/img/w/04n.png" alt="">
                <p class="more-info-item__set-temperature">7</p><span>&#176</span>
                <div class="more-info-item__weather-details">
                  <p class="more-info-item__pressure-value">772 <span>mm</span></p>
                  <p class="more-info-item__humidity-value">54<span>%</span></p>
                  <p class="more-info-item__wind-value">3,7 <span>m/s</span></p>
                </div>
              </li>