html {

  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato';

}

a {
  display: block;
  text-decoration: none;

}

img {
  display: block;
  max-width: 100%;
  height: auto;

}

ul {
  list-style-type: none;
}

.container {
  width: 280px;
  margin: 0 auto;
 
}


.background-image {
  overflow-y: auto;
}

@media (min-width: 768px) {
  .container {
    width: 608px;
  }

}

@media (min-width: 1280px) {
  .container {
    width: 1060px;
  }

}