.quote__block {
  text-align: right;
  width: 204px;
  margin-left: auto;
  margin-right: 0;
  color: white;
  background-color: rgba(16, 33, 54, 0.8);
  border-radius: 20px;
  padding: 10px;
  height: 148px;
  background-image: url(../../assets/icons/quotes/quotes.png);
  background-repeat: no-repeat;
  background-position: 95% 15%;
}

.quote__text {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  line-height: 21px;
  margin-bottom: 10px;
  animation: anim 8s infinite reverse;
  animation-iteration-count: infinite;
}

.quote__author {
  font-size: 18px;
  font-style: normal;
  animation: anim 8s infinite reverse;
  animation-iteration-count: infinite;
}

@keyframes anim {
  0% {
    opacity: 1;
    -webkit-filter: blur(20px);
    filter: blur(20px);
  }
  10% {
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  90% {
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(20px);
    filter: blur(20px);
  }
}

@media (min-width: 768px) {
  .container {
    width: 608px;
  }
  .quote__block {
    width: 372px;
    margin-right: 59px;
  }

  .quote__text {
    font-size: 22px;
    font-weight: normal;
    font-style: italic;
    line-height: 32px;
    margin-bottom: 12px;
  }

  .quote__author {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1060px;
  }

  .quote {
    padding-bottom: 25px;
  }

  .quote__block {
    margin-right: 0;
  }
}
