.FiveDaysSmall{
    border-radius: 35px;
    background-color: rgb(16, 33, 54);
    opacity: 0.8;
    box-shadow: 0px 8px 43px 0px rgba(16, 33, 54, 0.59);
    min-height: 272px;
}

.FiveDaysWeaterList{
    display: flex;
}

.FiveDaysWeaterList__item{
    display: flex;
    flex-direction: column;

}