{{#each parsedSettings}}
<li class="favorites-list__item"  title={{this}}>
    <p class="favorites-list__item-link">{{this}}</p>
    <button class="favorites-list__item-close" type="button" data-text={{this}}></button>
</li>
{{/each}}