{{#each this}}
<li class="more-info-item more-info-item__time-00-00">
  <p class="more-info-item__set-time">{{moment(res.list[0].dt).format("MMM Do YY")}}</p>
  <img class="more-info-item__set-img" src="https://openweathermap.org/img/w/04n.png" alt="">
  <p class="more-info-item__set-temperature">1</p><span class="degrees">&#176</span>
  <div class="more-info-item__weather-details">
    <p class="more-info-item__pressure-value">772mm</p>
    <p class="more-info-item__humidity-value">54%</p>
    <p class="more-info-item__wind-value">3,7m/s</p>
  </div>
</li>
{{/each}}