.MoreInfo {
  box-sizing: content-box;
  padding-left: 10px;
  padding-right: 10px;
  display: none;
}


.hourly-weather {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  overflow-x: scroll;
}

.more-info-item {
  padding: 15px;
  font-size: 16px;
  font-family: 'Lato';
  color: rgba(255, 255, 255, 0.541);
  text-align: center;
  border: solid 1px rgb(255, 255, 255, 0.2);
  border-radius: 25px;
  width: 120px;
  margin-right: 20px;
}

.more-info-item:hover {
  background-color:rgb(255, 255, 255, 0.12);

}

.more-info-item:last-child {
  margin-right: 0;
}

.more-info-item__set-img {
  margin: 0 auto;
}

.more-info-item__set-temperature,
.degrees {
  display: inline-block;
  font-size: 18px;
  font-family: 'Lato';
  color: rgb(255, 107, 8);
  font-weight: bold;
}

.more-info-item__weather-details {
  width: 88px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.more-info-item__set-time {
  color: #fff;
}

.more-info-item__pressure-value::before,
.more-info-item__humidity-value::before,
.more-info-item__wind-value::before {
  content:'';
  display: inline-block;
  width: 28px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: left;
  margin-right: 4px;
}

.more-info-item__pressure-value::before {
  background-image: url(./img/pressure.png);
}

.more-info-item__humidity-value::before {
  background-image: url(./img/humidity.png);
  margin-left: 5px;
}

.more-info-item__wind-value::before {
  background-image: url(./img/wind.png);
}

.more-info-item__pressure-value,
.more-info-item__humidity-value,
.more-info-item__wind-value {
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.hourly-weather-btns {
  display: block;
    display: flex;
    justify-content: space-around;
    padding-bottom: 26px;
    border-radius: 50px;
    
}

.hourly-weather-prev-btn:hover,
.hourly-weather-next-btn:hover {
    background-color: rgb(255, 255, 255, 0.5);
    color: #fff;
}

.hourly-weather-prev-btn,
.hourly-weather-next-btn {
  border-radius: 50%;
  border: none;
  width: 27px;
  height: 27px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.2);
}

/* .hourly-weather-next-btn {
  background-image: url(../src/assets/icons/chevron-left//chevron_right-black-18dp/2x/baseline_chevron_right_black_18dp.png);
} */

.gallery {
  overflow: hidden;
}

@media (min-width: 1280px) {
.more-info-item {
  margin-right: 10px;
}
  .hourly-weather-btns {
    display: none;
  }
  .more-info-list {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
}
