.background-image {
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image-buffer {
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    top:0px;
    z-index:-1;
}
